@use "@/utils/colors.scss" as *;

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1.5rem;
    border-radius: 1.5rem;
    background-color: color-mix(in srgb, $color-grey-900 50%, $color-black 50%);

    &.bg-img {
        background-position: center 25%;
        background-size: cover;
        max-width: 100%;
        min-height: 1fr;
    }
}